.footer {
    background-color: lightgrey;
    height: 100px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover,
a:active {
    color: blue;
}

.navigation-items {
    list-style: none;
    padding: 15;
    margin: 0;
}
