mat-form-field {
    width: 400px;
  }

.submit {
  width: 400px;
}

.fbbutton {
      width: 400px;
      background-color: #3b5998;
  }

.gobutton {
    width: 400px;
    background-color: #EA4335;
}

.devider {
    padding-bottom: 10px;
}

.signup {
  color: #EA4335;
}