<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
      type="email" 
      matInput 
      placeholder="Your email" 
      ngModel name="email"
      required>
    </mat-form-field>
    <mat-form-field hintLabel="At least 6 chars!">
      <input 
      type="password" 
      matInput 
      placeholder="Your Password" 
      ngModel 
      name="password"
      required
      minlength="6">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
    <div class="devider" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">Oder</div>
  </form>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button class="fbbutton" (click)="onSubmitFacebook()" mat-raised-button color="primary">Facebook</button>
    <button class="gobutton" (click)="onSubmitGoogle()" mat-raised-button color="primary">Google</button>
  </div>
</section>