mat-form-field {
    width: 350px;
  }

.submit {
  width: 350px;
}

.fbbutton {
      width: 350px;
      background-color: #3b5998;
  }

.gobutton {
    width: 350px;
    background-color: #EA4335;
}

.devider {
    padding-bottom: 0px;
}