.card {
    border: 1px solid 	#989898;
    // border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-top: 5px;
}

.card-body {
    padding: 5px;
}

.item-container {
    margin-top: 7px;
    margin-bottom: 7px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-container {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.title-header {
    margin-left: 10px;
    font-weight: bold;
    color: #3F51B5;
    cursor: pointer;
    border-bottom: solid 2px #FFFFFF;
}

.title-header:hover {
    border-bottom: solid 2px #3F51B5;
}

.info {
    align-items: center;
}

img {
    max-height: 160px;
    max-width: 150px;
    border-radius: 15px;
}

.mat-card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }


.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0,0,0,.125);
}

.bookmark-icon {
    cursor: pointer;
}

.info-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        font-weight: bold;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
        font-weight: bold;
    }
}

.info {
    display: flex;
}

.icon-container {
    width: 40px;
    display: flex;
    justify-content: center;
}