.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-top: 5px;
}

.card-body {
    padding: 5px;
}


.img-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    display: flex;
    align-items: center;
}

.title-header {
    font-weight: bold;
}

.info {
    align-items: center;
}

img {
    max-height: 130px;
    max-width: 120px;
    border-radius: 15px;
}

.mat-card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }


.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark-icon {
    cursor: pointer;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detail-icon {
    transform: scale(1.1);
    cursor: pointer;
}