
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome {
    font-size: xx-large;
    font-weight: bold;
}

.team {
    font-size: large;
    font-weight: bold;
    color: #3F51B5;
}


.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}

.about {
    width: 400px;
    margin-top: 20px;
}

.about-header {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #3F51B5;
}

.about-info-container {
    padding-bottom: 30px;
    height: 230px;
}

.about-info {
    margin-top: 10px;
    margin-left: 5px;
}

.title {
    font-weight: bold;
    padding-right: 0px;
}

.info {
    color: #3F51B5;
    font-weight: bold;
}

.portrait {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    margin: 0 auto;
}

.name {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
.iframe-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframe-header {
    font-weight: bold;
    font-size: large;
    color: #3F51B5;
    margin-bottom: 10px;
}

iframe {
    width: 90%;
    height: 600px;
}

@media only screen and (max-width: 500px)  {

    .welcome {
        font-size: 20px;
    }

    .team {
        font-size: 16px;
    }

    .portrait {
        width: 200px;
        height: 200px;
    }

    .about {
        width: 350px;
    }

    .about-info-container {
        height: 200px;
    }

    .title {
        font-size: 14px;
    }
    .info {
        font-size: 14px;
    }
    .iframe-container {
        display: none;
    }

}