<section class="open-article" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="500px">
    <mat-card-header>
      <div mat-card-avatar class="user-header-image">
        <img *ngIf="seller != null" mat-card-avatar [src]="seller.profilePictureUrl">
      </div>
      <mat-card-title> {{ article.title }} </mat-card-title>
    <mat-card-subtitle *ngIf="seller != null"> {{ seller.name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="article.uri">
    <mat-card-content>
      <p> {{ article.description }} </p>
      <p> Preis: {{ article.price }} € </p>
      <p> Vom: {{article.date | date: 'medium' }} </p>
      <p> {{ article.views }} Aufrufe </p>
      <div #mapContainer id="map"></div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-raised-button color="primary" (click)="onBookmark()">MERKEN</button>
      <button mat-raised-button color="primary">BEARBEITEN</button>
    </mat-card-actions>
  </mat-card>
</section>