<!-- <div class="row article-container" *ngIf="article$ | async as article"> -->
<div class="row article-container" *ngIf="article">
  <div class="col-lg-6 article-left">
    <div class="article-title">
      <span>{{article.title}}</span>
      <mat-icon class="bookmark-toggle" *ngIf="user && article.userId != user?.id && seller?.bookmarks.indexOf(article.id) === -1" (click)="addBookmark(article.id)" matTooltip="Meiner Merkliste hinzufügen" matTooltipPosition="right">star_border</mat-icon>
      <mat-icon class="bookmark-toggle" *ngIf="user && article.userId != user?.id && seller?.bookmarks.indexOf(article.id) != -1" (click)="deleteBookmark(article.id)" matTooltip="Von Merkliste entfernen" matTooltipPosition="right">star</mat-icon>
    </div>
    <span>{{article.createdAt | date:'dd.MM.yyyy'}}</span>
    <span *ngIf="user && article.userId == user.id" class="article-info">Beliebtheit deiner Anzeige: {{article.views}} <mat-icon matTooltip="Aufrufe" matTooltipPosition="right">visibility</mat-icon> {{article.bookmarks}} <mat-icon  matTooltip="Gemerkt" matTooltipPosition="right">star</mat-icon></span>
    
    <div class="category-info">
      <span><img class="mat-card-avatar" mat-card-avatar [src]="firebaseImageUrl + article.categoryInfo.src"> {{article.categoryInfo.label}}</span>
      <span><img mat-card-avatar [src]="firebaseImageUrl + 'o/app%2Fplaceholder%2Fquestionmark.jpg?alt=media&token=6cd3f231-a085-4f67-a216-21b6886533cd'"> {{'noch offen'}}</span>
    </div>
    <p><b>Zustand:</b> {{article.condition}}</p>
    <p><b>Preis:</b> {{getPrice(article)}}</p>

    <div class="form-group">
      <label for="comment"><b>Beschreibung:</b></label>
      <textarea class="form-control" rows="5" id="comment" disabled>{{article.description}}</textarea>
    </div>
    <p><b>Ort:</b>{{article.locations?.toString()}}</p>
    <p><b>Distanz vom Homespot:</b> xxx km</p>

    <app-location-map [locations]="article.locations"></app-location-map>

    <div class="contact">
      <h5><b>Kontakt:</b></h5>
      <div class="contact-info">
        <img mat-card-avatar [src]="article.sellerProfilePictureUrl">
        <span>{{article.sellerName}}</span>
        <span *ngIf="article.sellerPhone">Tel.: {{article.sellerPhone}}</span>
      </div>
      <form class="form-group" [formGroup]="mailForm">
        <label for="exampleFormControlTextarea1">Schreibe {{article.sellerName}} eine Mail:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="message"></textarea>
        <div class="form-group mail-info">
          <label for="sellerMail">Deine Mail Adresse:</label>
          <input type="email" class="form-control" id="sellerMail" formControlName="sender">
        </div>
        <button type="button" class="send-button invalid" [disabled]="mailForm.invalid" (click)="onSubmit()"><mat-icon>email</mat-icon>Senden</button>
      </form>
    </div>
  </div>

  <div class="col-lg-6 article-right">
    <div class="selected-image-container">
      <img *ngIf="currentPictureUrl" class="selected-image" [src]="currentPictureUrl">
      <img *ngIf="!currentPictureUrl" class="selected-image" [src]="placeholderImage">
    </div>
    <div class="small-image-container">
      <ng-container *ngFor="let pictureUrl of article.pictureUrls; let i = index">
        <img  *ngIf="pictureUrl || i == 0" class="small-image {{pictureUrl === currentPictureUrl ? 'active-small-image' : ''}}" [src]="pictureUrl != null ? pictureUrl : placeholderImage" (click)="changeCurrentPicture(pictureUrl)">
      </ng-container>
      
    </div>
  </div>
</div>