<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
      type="email" 
      matInput 
      placeholder="Email" 
      ngModel name="email"
      required>
    </mat-form-field>
    <mat-form-field>
      <input 
      type="password" 
      matInput 
      placeholder="Passwort" 
      ngModel 
      name="password"
      required
      minlength="6">
    </mat-form-field>
    <button class="submit" type="submit" mat-raised-button color="primary">Anmelden</button>
    <div>
      Hast du noch keinen Account?
      <a routerLink="/signup" class="signup">Registrieren</a>
    </div>
    <div class="devider" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">oder</div>
  </form>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">		
    <button class="fbbutton" (click)="onSubmitFacebook()" mat-raised-button color="primary">Mit Facebook anmelden</button>		
    <button class="gobutton" (click)="onSubmitGoogle()" mat-raised-button color="primary">Mit Google anmelden</button>		
  </div>
</section>