
.container {
    border-bottom: 2px solid black;
}

.info-text {
    font-weight: bold;
}


.button-container {
    margin-top: 20px;
    display: flex;
}

.button-action-custom {
    margin-right: 10px;
    width: 80px;
}
