
.container {
    border-bottom: 2px solid black;
}

.info-text {
    font-weight: bold;
}


.button-container {
    margin-top: 20px;
}

.button-action {
    margin-right: 10px;
    width: 80px;
    color: white;
    padding: 8px;
    background-color: #3F51B5;
    border: 2px solid black;
    border-radius: 5px;
}




