<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item routerLink="/articles" (click)="sidenav.close()">
                <mat-icon>article</mat-icon>
                <span class="nav-caption">Übersicht</span>
            </a>
            <a mat-list-item routerLink="/login" (click)="sidenav.close()">
                <mat-icon>face</mat-icon>
                <span class="nav-caption">Signup</span>
            </a>
            <a mat-list-item routerLink="/create" (click)="sidenav.close()">
                <mat-icon>sell</mat-icon>
                <span class="nav-caption">Verkaufen</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div><a routerLink="/">Luftkraftsport</a></div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li><a routerLink="/articles" class="nav-item">Anzeigen</a></li>
                    <li *ngIf="!isAuth"><a routerLink="/signup" class="nav-item">Registrieren</a></li>
                    <li *ngIf="!isAuth"><a routerLink="/login" class="nav-item">Anmelden</a></li>
                    <li *ngIf="isAuth"><a routerLink="/create" class="nav-item">Verkaufen</a></li>
                    <li><a routerLink="/about" class="nav-item">About</a></li>
                    <li *ngIf="isAuth">
                        <div >
                            <img class="mat-card-avatar" [src]="photoURL">
                        </div>
                    </li>
                    <li *ngIf="isAuth"> {{ currentUser }} </li>
                    <li *ngIf="isAuth">
                        <button mat-icon-button (click)="logout()">
                            <mat-icon>logout</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>

