<hr>
<div class="error-cat">
    <p *ngIf="subcategories.length === 0"><b>Bitte wähle zunächst eine Kategorie oben aus</b></p>
</div>


<div class="subcat-container">
    <div *ngFor="let subcat of subcategories" class="subcat">
        <img  class="mat-card-avatar {{subcat.id == selectedSubcategory?.id ? 'active-avatar' : ''}}" [src]="subcat.src" (click)="selectSubcat(subcat)">
        <span class="{{subcat.id == selectedSubcategory?.id ? 'active-span' : ''}}" (click)="selectSubcat(subcat)">{{subcat.label}}</span>
    </div>
</div>

