.title {
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid ;
    padding: 0.7rem;;
}

.nav-item {
    padding: 10px;
    text-decoration: none;
    color: darkcyan;
}

.nav-item:visited, .nav-item:active, .nav-item:focus {
    text-decoration: none;
    color: gray;
}

.nav-item:hover {
    text-decoration: underline;
}