.title {
    font-size: 2em;
    background-color: royalblue;
    text-align: center;
    border-bottom: 1px;
    padding: 0.7rem;;
}

.nav-item {
    padding: 10px;
    text-decoration: none;
    color: darkcyan;
    background-color: rgb(216, 247, 219);
    position: relative;
}

.nav-item:visited, .nav-item:active, .nav-item:focus {
    text-decoration: none;
    color: gray;
}

.nav-item:hover {
    text-decoration: underline;
}