
<app-loading *ngIf="firstLoading === 'loading'" [loadingMessage]="'Deine Daten werden geladen'"></app-loading>
<div class="container" *ngIf="firstLoading === 'done'">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Persönliche Daten
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <hr>
          <div [formGroup]="sellerForm">
          <div class="person-container">
            <p>Meine Surfkollegen nennen mich:</p>
            <span class="errorPictureMessage">{{errorPictureMessage}}</span>
            <div class="personal">
              <input class="form-control" placeholder="Name" formControlName="name">
  
              <div class="image-upload">
                <label for="file-input">
                  <img *ngIf="!imgURL && seller?.profilePicture" class="mat-card-avatar" [src]="seller.profilePicture"/>
                  <img *ngIf="!imgURL && !seller?.profilePicture" class="mat-card-avatar" [src]="placeholderPortrait"/>
                  <img *ngIf="imgURL" class="mat-card-avatar" [src]="imgURL"/>
                </label>
                <input id="file-input" type="file" (change)="handleFileInput($event.target.files)"/>
              </div>
            </div>
            
  
            <p>Ich interessiere mich hauptsächlich für:</p>
            <app-product-select [selectedCategory]="seller.categoryInfo" (selectedCategoryChange)="categoryChange($event)"></app-product-select>
  
            <p>Mein Homespot liegt bei:</p>
            <div class="location">
              <input formControlName="location" placeholder="Stadt">
            </div>
  
            <p>Kontak über Mail: <i class="fas fa-info-circle fa-lg" matTooltip="Deine Mail-Adresse wird niemals veröffentlicht!" matTooltipPosition="right"></i></p>
            <input class="form-control" placeholder="Mail-Adresse" formControlName="email">
  
            <p>Kontakt über Handy: <i class="fas fa-info-circle fa-lg" matTooltip="Handynummer Anzeigen kann optional beim Erstellen einer Anzeige gewählt werden" matTooltipPosition="right"></i></p>
            <input formControlName="phone" placeholder="Handynummer">

            <br>
            <div class="button-container">
              <div class="delete-container">
                <button (click)="deleteUser()" class="lks-button save-button-custom">Nutzer löschen</button>
              </div>
              <div class="save-container">
                <mat-spinner *ngIf="loadingUpdateSeller" [diameter]="30" class="spinner"></mat-spinner>
                <button (click)="saveSeller()" class="lks-button save-button-custom" [disabled]="sellerForm.invalid">Speichern</button>
              </div>
            </div>
          </div>
        </div>
        </mat-expansion-panel>


      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Meine Favoriten
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>star</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <app-loading *ngIf="selectionService.loading" [loadingMessage]="'Artikel werden geladen'"></app-loading>
          <div *ngIf="!selectionService.loading">
            <app-pagination *ngIf="articles?.length > 0" [position]="1" [count]="count" [sites]="sites" [currentSite]="selectionService.currentSiteUserArticleList" (pageChange)="pageChange($event)"></app-pagination>
            <app-article-list *ngIf="articles?.length > 0" [filteredArticles] = "articles" [user]="authService.user" [seller]="authService.seller" (deleteBookmarkOutput)="deleteBookmark($event)"></app-article-list>
            <h5 *ngIf="count == 0">Du hast momentan keine Favoriten</h5>
            <app-pagination *ngIf="articles?.length > 5" [position]="2" [count]="count" [sites]="sites" [currentSite]="selectionService.currentSiteUserArticleList" (pageChange)="pageChange($event)"></app-pagination>  
          </div>

        </mat-expansion-panel>


      
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Meine Anzeigen
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>monetization_on</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <app-loading *ngIf="selectionService.loading" [loadingMessage]="'Artikel werden geladen'"></app-loading>
          <div *ngIf="!selectionService.loading">
            <app-pagination *ngIf="articles?.length > 0" [position]="1" [count]="count" [sites]="sites" [currentSite]="selectionService.currentSiteUserArticleList" (pageChange)="pageChange($event)"></app-pagination>
            <app-article-list *ngIf="articles?.length > 0" [filteredArticles] = "articles" [user]="authService.user" [seller]="authService.seller"></app-article-list>
            <h5 *ngIf="count == 0">Keine Anzeigen von dir online</h5>
            <app-pagination *ngIf="articles?.length > 5" [position]="2" [count]="count" [sites]="sites" [currentSite]="selectionService.currentSiteUserArticleList" (pageChange)="pageChange($event)"></app-pagination>  
          </div>

        </mat-expansion-panel>
      
      </mat-accordion>
</div>
