/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;


    .lks-button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;
        
        border: 2px solid black;
        border-radius: 5px;
    }

    .lks-button:hover:enabled {
        background-color: #3F51B5;
        color: white;
    }

    .lks-button:disabled {
        cursor: not-allowed;
    }

}
