<br>

<app-product-select [selectedCategory]="selectedCategory" (selectedCategoryChange)="categoryChange($event)"></app-product-select>



<div class="article-list-container">
    <hr>
    <div class="overview-input">
        <div class="mb">
            <input class="search" [(ngModel)]="filterSearch" (ngModelChange)="onSearchChange($event)" placeholder="Suche">
        </div>
        <div class="order-container mb">
            <div class="{{descOrder == 'desc' ? 'active-order' : ''}}" (click)="setDesc()">
                <i class="fas fa-sort-amount-down fa-lg"></i>
            </div>
            <div class="{{descOrder == 'desc' ? '' : 'active-order'}}" (click)="setAsc()">
                <i class="fas fa-sort-amount-down-alt fa-lg"></i>
            </div>
            <select [(ngModel)]="orderValue" (ngModelChange)="orderValueChange($event)">
                <option ngValue="date">Datum</option>
                <option ngValue="price">Preis</option>
            </select>
        </div>
        <button class="subcat-filter mb" (click)="toggleSubcat()"><mat-icon *ngIf="subcatVisible">keyboard_arrow_down</mat-icon><mat-icon *ngIf="!subcatVisible">keyboard_arrow_right</mat-icon><span *ngIf="selectedSubcategory">{{selectedSubcategory.label}}</span><span *ngIf="!selectedSubcategory">Weiterer Filter</span></button>
    </div>

    <hr>
    <app-subcat-select *ngIf="subcatVisible" [subcategories]="subcategories" [selectedSubcategory]="selectedSubcategory" (selectedSubcategoryChange)="selectedSubcategoryChange($event)"></app-subcat-select>
      <div *ngIf="filteredArticles.length == 0">
          <hr>
          <span class="no-articles">Leider gibt es für deine Auswahl momentan keine Anzeigen!</span>
      </div>
      <app-article-list [filteredArticles]="filteredArticles" [user]="authService.user" [seller]="authService.seller" [overview]="true"></app-article-list>
</div>