<div class="form-container" [formGroup]="newArticle">
  <p>Wähle eine Kategorie:</p>
  <app-product-select [selectedCategory]="seller.category" (selectedCategoryChange)="categoryChange($event)"></app-product-select>

  <hr>

  <p>Wähle eine Unterkategorie?</p>
  <app-subcat-select [subcategories]="subcategories" [selectedSubcategory]="selectedSubcategory"></app-subcat-select>

  <hr>

  <div class="text-container">
    <p>Titel der Anzeige:</p>
    <input formControlName="title" placeholder="Titel">
  
    <p>Beschreibung</p>
    <textarea rows="3" placeholder="Schreibe hier Einzelheiten zu deinem Artikel"></textarea>

    <p>Wie ist der Zustand?</p>
    <select>
      <option *ngFor="let zustand of zustandList">{{zustand}}</option>
    </select>

    <p>Wieviel soll es kosten?</p>
    <div class="price">
      <input placeholder="Preis in Euro">
      <select>
        <option>Verhandlungsbasis</option>
        <option>Festpreis</option>
      </select>
    </div>

    <p>Wo ist dein Standort?</p>
    <div class="location">
      <input placeholder="Stadt">
      <mat-icon  matTooltip="Bestimme meine Position automatisch" matTooltipPosition="right" (click)="getLocation()">gps_fixed</mat-icon>
      <!-- <mat-icon matTooltip="Aktualisiere die Map" matTooltipPosition="right">room</mat-icon> -->
    </div>


    <!-- <app-location-map></app-location-map> -->

    <p>Ist Versand möglich?</p>
    <select>
      <option>Versand und Abholung</option>
      <option>Nur Abholung</option>
    </select>

    <div>
      <p>Fotos</p>
      <div class="image-upload-container">
        <div class="image-upload" *ngFor="let articleImage of articleImages, let i = index">
          <label for="file-input" (click)="saveIndex(i)">
            <img *ngIf="!articleImage.imgUrl" [src]="placeholderImage"/>
            <img *ngIf="articleImage.imgUrl" [src]="articleImage.imgUrl"/>
          </label>
          <input id="file-input" type="file" (change)="handleFileInput($event.target.files)"/>
          <span>{{articleImage.label}}</span>
        </div>
      </div>
    </div>

    <p>Kontaktiert wirst du über deine Mail</p>
    <input placeholder="Mail-Adresse">

    <p>Zusätzlich auch deine Telefonnummer zeigen?</p>
    <input placeholder="Handynummer">

  </div>

  <button (click)="saveArticle()">Speichern</button>
</div>