.form-container {
  max-width: 900px;
  margin:0 auto;
  margin-top: 20px;
  text-align: center;

  .ng-invalid.ng-touched {
    border: 2px solid red;
  }

  div {
    border: none !important;
  }
}



.text-container {
  width: 500px;
  margin:0 auto;
  text-align: start;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input-title {
    width: 80%;
  }

  .input-length {
    font-weight: bold;
    font-size: large;
  }
}

.price {
  display: flex;

  input {
    margin-right: 10px;
  }

}

.location {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .inputLocation {
    width: 90%;
  }
  .iconLocation {
    transform: scale(1.3);
    margin-left: 20px;
    cursor: pointer;
  }
}

.location-add {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.iconAddLocation {
  transform: scale(1.3);
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.image-upload-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-upload {
  label {
    display: flex;
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      cursor: pointer;
      border-radius: 10px;
      margin-top: 10px;
    }
    .img-title {
      border: 2px solid #3F51B5;
    }
  }
  .sublabel-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      margin-left: 10px;
      margin-right: 10px;
    }

    mat-icon {
      cursor: pointer;
    }
  }
}

.image-upload>input {
  display: none;
}

.form-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;

  .form-button {
    margin-left: 10px;
    max-width: 145px;
    color: white;
    padding: 8px;
    background-color: #3F51B5;
    border: 2px solid black;
    border-radius: 5px;
  }

  .form-button:disabled {
    background-color: #AADAFF;
    cursor: not-allowed;
  }

  .form_button_span {
    color: #3F51B5;
    font-weight: bold;
    margin-left: 10px;
  }
}

p {
  font-weight: bold;
  margin-top: 20px;
}

input {
  padding: 8px;
  // color: white;
  // background-color: #3F51B5;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
}

input::placeholder {
  // color: white;
  font-style: italic;
  //font-size: small;
}

select {
  padding: 8px;
  // color: white;
  // background-color: #3F51B5;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
}

textarea {
  padding: 8px;
  // color: white;
  // background-color: #3F51B5;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
}

textarea::placeholder {
  // color: white;
  font-style: italic;
  // font-size: small;
}